<h1><strong>Find flight deals around the world</strong></h1>
    <hr>
    <form #searchform="ngForm">
            <div *ngIf="fromLocationTemplate">
                <label for=""><h3>From where:</h3></label>
                <input type="text" class="form-control" name="from" [(ngModel)]="from" (keypress)="handleFromLocation()">
                <small>City or Airport search E.g. London</small>
                <div class="card mb-3 mt-3" *ngFor="let Location of locationList" (click)="handleOrigin(Location)">
                    <div class="card-header"><b>Name:</b> {{ Location.name }}</div>
                    <div class="card-body">City Name: {{ Location.address.cityName }}
                    </div>
                    <div class="card-footer"><b>Iata code:</b> {{ Location.iataCode }}</div>
                  </div>
            </div>
            <div *ngIf="toLocationTemplate">
              <label for=""><h3>To where:</h3></label>
              <input type="text" class="form-control" name="to" [(ngModel)]="to" (keypress)="handleToLocation()">
              <small>City or Airport search</small>
              <div class="card mb-3 mt-3" *ngFor="let Location of toLocationList" (click)="handleDestination(Location)">
                <div class="card-header"><b>Name:</b> {{Location.name}} </div>
                <div class="card-body">City Name: {{Location.address.cityName}}</div>
                <div class="card-footer">Iata code: {{Location.iataCode}} </div>
              </div>
            </div>
            <div *ngIf="departureDateTemplate">
              <label for=""><h3>Departure date:</h3></label>
              <input type="date" #departuredate="ngModel" class="form-control" name="departureDate" [(ngModel)]="departureDate" required>
              <br>
              <label for=""><h3>Return date:</h3></label>
              <input type="date" #returndate="ngModel" class="form-control" name="returnDate" [(ngModel)]="returnDate" required>
              <br>
              <label for=""><h3>Number of adults</h3></label>
              <input type="number" #adult="ngModel" class="form-control" name="adults" [(ngModel)]="adults" required>
              <br>
              <label class="form-check-label fw7 h5 mb0">
                Without stopping?
                <input type="checkbox" [checked]="nonStop" class="form-check-input" required>
              </label>
              <div *ngIf="departuredate.invalid && (departuredate.dirty || departuredate.touched)" class="alert"></div>
              <div *ngIf="returndate.invalid && (returndate.dirty || returndate.touched)" class="alert"></div>
              <div *ngIf="adult.invalid && (adult.dirty || adult.touched)" class="alert"></div>
              <br>
              <button class="btn btn-secondary" (click)="onFindFlight()" [ngStyle]="{'width': '100%'}" 
              [disabled]="(!searchform.valid || adult.untouched)">Find Flights</button>
            </div>
    </form>
    <app-show-flight-offer *ngIf="showTable" [params]="searchParams"
    [result]="flightOffersList" (onChildCallReset)="onChildCallReset()"></app-show-flight-offer>
